$document-mw: 1440px;

$space-xsm: 10px;
$space-sm: 20px;
$space-md: 30px;

$font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-weight: 500;
$font-size: 18px;

$font-size-md: 30px;
$font-size-sm: 12px;

$radius: 8px;

$neutral-white: hsl(0, 0%, 100%);
$neutral-light-grayish-violet: hsl(270, 3%, 87%);
$neutral-dark-grayish-violet: hsl(279, 6%, 55%);
$neutral-very-dark-violet: hsl(278, 68%, 11%);
