@use "./setting";

@mixin flex($align: flex-start, $justify: flex-start, $gap: 0, $direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin center() {
    max-width: setting.$document-mw;
    margin: 0 auto;
}
